.BowerRegistry-heading {
    font-family: 'Open Sans';
    font-weight: 100;
    text-align: center;
}

.BowerSearch {
    text-align: center;
}

.BowerSearch-label {
    font-family: 'Open Sans';
    font-weight: 100;
}

.BowerSearch-input {
    font-family: 'Open Sans';
    font-weight: 100;
    margin: 10px;
}

.BowerPackage {
    margin: 20px 5px;
    border-radius: 5px;
    font-family: 'Open Sans';
    font-weight: 100;
    box-shadow: 0px 3px 0px 0px rgba(226, 228, 231, 0.75);
    /* Fix for weird bug where scroll bar just goes crazy */
    overflow:hidden;
}

.BowerPackage .BowerPackage-summary {
    padding: 10px;
    background-color: #F5F7FA;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.BowerPackage .BowerPackage-packageName,
.BowerPackage .BowerPackage-packageNameLatestVersion {
    display : inline;
    font-weight: 100;
}

.BowerPackage .BowerPackage-packageNameLatestVersion {
    float:right;
    margin: 0;
}

.BowerPackage .BowerPackage-details {
    padding: 10px;
    background-color: #E6E9ED;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.BowerPackage .BowerPackage-loadingIcon {
    display: none;
}

.BowerPackage .BowerPackage-details.is-loading {
    /* background-color: #cc0000; */
    min-height: 100px;
}

.BowerPackage .BowerPackage-details.is-loading .BowerPackage-loadingIcon {
    display: block;
	border-bottom: 4px solid rgba(0, 0, 0, .2);
	border-left: 4px solid rgba(0, 0, 0, .2);
	border-right: 4px solid rgba(0, 0, 0, .2);
	border-top: 4px solid rgba(0, 0, 0, .5);
	border-radius: 100%;
	height: 32px;
	width: 32px;
	animation: spin .6s infinite linear;
    text-indent: 999em;
    margin:3em auto;
}

@keyframes spin {
	from {transform: rotate(0deg);}
	to {transform: rotate(359deg);}
}


.BowerPackage-versionList .BowerPackage-versionListEntry {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

.u-hidden {
    display: none;
}
