<html>
<head>
    <title>Bower Registry</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/build.css" charset="utf-8">

</head>
<body>
    <h1 class="BowerRegistryHeading">Bower Registry</h1>

    {{#each bowerPackages}}
    <details class="BowerPackage js-bowerPackage" data-package-name="{{name}}" {{#if @first}} open {{/if}}>
        <summary class="BowerPackage-summary">
            <h3 class="BowerPackage-packageName">
                {{name}}
            </h3>
            <h3 class="BowerPackage-packageNameLatestVersion js-bowerPackageVersion"></h3>
        </summary>
        <div class="BowerPackage-details">
            <div class="BowerPackage-loadingContainer">
                <div class="BowerPackage-loadingIcon">Loading...</div>
            </div>
            <div class="js-bowerPackageDetails u-hidden">
                <small>Package is located at: <a href="{{url}}">{{url}}</a></small>
            </div>

        </div>
    </details>
    {{/each}}


    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js"></script>
    <script src="/js/viewRegistryList.js"></script>

</body>
</html>
